.hovera{
    color: white;
}
.hovera:hover{
    background-color: white;
    color: black;
}
.flex-grow {
    flex-grow: 0;
}
.boxhide:focus{
    box-shadow: none !important;
  }
  .hover-underline:hover {
    text-decoration: underline !important;
  }
  .hover-text:hover {
   color: blue !important;
  }
  .h1-size{
    font-size: 50px;
  }
  .p-font-size{
    font-size: 14px !important;
  }
  .card-hover-scale{
    transition: .5s;
  }
.card-hover-scale:hover{
  scale: 1.05;
  transition: .5s;
}
.card{
  background-color: aliceblue;
}
.box-show:hover{
  box-shadow: 0px 2px 2px 1px rgb(197, 194, 194);
}
.hide-underline:hover{
  text-decoration: none;
}