.hovera{
    color: white;
}
.hovera:hover{
    background-color: white;
    color: black;
}
.flex-grow {
    flex-grow: 0;
}
.boxhide:focus{
    box-shadow: none !important;
  }
  .hover-underline:hover {
    text-decoration: underline !important;
  }
  .hover-text:hover {
   color: blue !important;
  }
  .h1-size{
    font-size: 50px;
  }